{
    "plugins": ["syntax-dynamic-import"],
    "presets": ["@babel/preset-env"],
    "env": {
        "test": {
            "plugins": ["babel-plugin-dynamic-import-node"],
            "presets": ["env"]
        }
    }
}
