{
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4],
        "no-bitwise": 0,
        "no-alert": 0,
        "class-methods-use-this": 0
    },
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": [
        "jest"
    ],
    "globals": {
        "gl": true,
        "shapes": true,
        "shaders": true,
        "textures": true,
        "Camera": true,
        "Vector": true,
        "Matrix": true,
        "numShapes": true
    }
}
